In [20]:
# imports
import os
from dotenv import load_dotenv
import pandas as pd
from sqlalchemy import create_engine

load_dotenv()

True

In [21]:
# Preprocessing
df = pd.read_csv("./kaggle/input/sales-forecasting/train.csv")
df.columns = df.columns.str.lower().str.replace(r"[\s-]+", "_", regex=True)
df['order_date'] = pd.to_datetime(df['order_date'], format="%d/%m/%Y")
df['ship_date'] = pd.to_datetime(df['ship_date'], format="%d/%m/%Y")
df.info()
df.head()

<class 'pandas.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   str
 2   order_date     9800 non-null   datetime64[us]
 3   ship_date      9800 non-null   datetime64[us]
 4   ship_mode      9800 non-null   str
 5   customer_id    9800 non-null   str
 6   customer_name  9800 non-null   str
 7   segment        9800 non-null   str
 8   country        9800 non-null   str
 9   city           9800 non-null   str
 10  state          9800 non-null   str
 11  postal_code    9789 non-null   float64
 12  region         9800 non-null   str
 13  product_id     9800 non-null   str
 14  category       9800 non-null   str
 15  sub_category   9800 non-null   str
 16  product_name   9800 non-null   str
 17  sales          9800 non-null   float64
dtypes: datetime64[us](2), float64(2), int64(1), str(13)
memory usage: 1.3 MB

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [22]:
engine = create_engine(os.getenv('DATABASE_URL')) # type: ignore
df.to_sql("raw_sales_data", engine, index=False, if_exists="replace")

800